.item_header{
    background-color: #eeeeee;
    top:0;
    position: fixed;
    width: 100vw;
    height:60px;
    z-index: 1051;
    display: flex;
    justify-content: space-between;
    .item_menu{
        height:60px;
        width:150px;
        .item_menu_button{
            background-color: transparent;
            color:#73c2fb;
            border: none;
            border-radius: 5px;
            height:60px;
            width:150px;
        }
        .item_menu_button:active{
            background-color: #dddddd;
            color:#008ecc;
            border: none;
            border-radius: 5px;
            height:60px;
            width:150px;
        }
    }
    .item_title{
        width:auto;
        display: flex;
        justify-content: center;
        align-items: center;
        color:#73c2fb;
    }
    .item_download{
        height:60px;
        width:150px;
    }
    .item_download_button{
        border-radius: 5px;
    }
    .item_download_button:focus{
        background-color:#73c2fb;
    }
}