.pending{
    z-index:1050;
    background: #000;
    opacity: 0.5;
    min-width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    .pending_box{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}